name: Deploy to staging

concurrency:
  group: pages-${{ github.repository }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: Build data
        run: |
          python scripts/build_data.py

      - name: Place public files
        run: |
          cp public/robots-staging.txt _site/robots.txt

      - name: Sanity check _site data output
        run: |
          test -d _site
          test -f _site/en/meta/all.json
          test -f _site/uk/meta/all.json
          echo "Files count:"
          find _site -type f | wc -l

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: _site
          clean: true

      - name: Waiting 4 minutes for staging data deployment
        run: |
          sleep 240

      - name: Rebuild site
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.token }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/sdg-kitsoft-stg/sdg-site/actions/workflows/deploy-to-staging.yml/dispatches \
            -d '{"ref":"main"}'
